{% extends "bmi/base.html" %}
{% block content %}
<!-- Header-->

    <header class="bg-primary bg-gradient text-white">
        <div class=" col-md-10 center - container px-2 text-center">
        <h1 class="fw-bolder">Welcome to BMI Calculator</h1>
        <p class="lead">Let's see what the numbers say about you!</p>
        <a class="btn btn-lg btn-light" href="{% url 'bmi' %}">Start</a>
           
    </header>
{% endblock %}
<div class="content container">
    <div class="row">
        <div class="col-md-10">
        </div>
    </div>
</div>